{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-6">
	</div>
	<div class="col-md-6">
		<h2>¿Qué es sencillo?</h2>
		<p class="lead">Sencillo es un servicio gratuito, seguro y fácil de usar para hacer transferencias electrónicas de dinero a tus amigos y familiares, a través de la web, smartphones, celulares con mensajes de texto, o haciendo uso de tarjetas prepagadas.</p>
		<p class="lead">Sencillo está diseñado para ajustarse a tus necesidades y preferencias. Al hacer compras y pagos con Sencillo, tu cuenta bancaria o tu tarjeta de crédito están completamente fuera de riesgo o abuso, y tú puedes escoger el límite de cuánto dinero quieres mantener en tu monedero electrónico. Pero también puedes utilizar Sencillo sin contar con una cuenta bancaria o una tarjeta de crédito, contando con una manera segura de moverse y viajar sin tener que cargar con dinero en efectivo, y que puedes transferir en cualquier momento, a cualquier persona de confianza.</p>
	</div>
</div>
{% endblock %}