{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-9">
		<h2>¿Cómo funciona Sencillo?</h2>
		<p class="lead">Sencillo te brinda un monedero electrónico desde el cual puedes hacer pagos a transferencias a otros usuarios del servicio. Para hacerlo, puedes hacer una transferencia directa desde tu cuenta bancaria o tu tarjeta de crédito, o puedes comprar una de nuestras tarjetas de carga prepagadas o hacer un depósito a tu cuenta con cualquiera de nuestros agentes --- no es necesario contar con una cuenta bancaria o tarjeta de crédito para poder usar Sencillo.</p>
		<p class="lead">Una vez creada tu cuenta, solo necesitas conocer el nombre de usuario, el correo electrónico o el teléfono celular de la persona a quien quieres hacer una transferencia para enviarle dinero. Puedes hacer transferencias desde nuestra página web, nuestra aplicación móvil o incluso utilizando mensajes de texto.</p>
		<p class="lead">Si la persona a quien quieres enviar dinero no tiene una cuenta en Sencillo, ¡no hay problema! Al hacer la transferencia, le notificaremos a esa persona que puede reclamar su dinero y le explicaremos cómo registrarse para agregar el crédito a su propia cuenta. Registrarse en Sencillo es completamente gratuito, y solo te cobraremos una tarifa mínima cuando recibas una transacción.</p>
		<p class="lead">Con el crédito de tu cuenta puedes hacer transferencias a cualquier otro usuario o realizar pagos en comercios y servicios que ya están aceptando Sencillo. También puedes hacer retiros de efectivo con cualquiera de nuestros agentes. Así, cualquiera puede ser parte de la red Sencillo.</p>
	</div>
</div>
{% endblock %}