{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			<h1>¿Tienes Sencillo?</h1>
			<p class="lead">Sencillo es la manera más sencilla de hacer compras y pagos por Internet</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<p class="text-center"><img src="/static/img/web-icon.png" width="100" height="100"></p>
		<h3 class="text-center">Web</h3>
		<p class="text-center">Envía dinero a tus amigos y familiares inmediatamente, sin necesidad de una tarjeta de crédito.</p>
	</div>
	<div class="col-xs-4">
		<p class="text-center"><img src="/static/img/cellphone-icon.png" width="100" height="100"></p>
		<h3 class="text-center">Celular</h3>
		<p class="text-center">Haz pagos y transferencias desde cualquier lugar a través de mensajes de texto.</p>
	</div>
	<div class="col-xs-4">
		<p class="text-center"><img src="/static/img/card-icon.png" width="100" height="100"></p>
		<h3 class="text-center">Tarjeta</h3>
		<p class="text-center">Recarga tu cuenta y realiza transacciones en cualquier agente de nuestra red de puntos de acceso.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2 class="text-center">Sé parte de la red Sencillo</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-xs-3 center-block">
		<h4>Usuarios</h4>
		<ul class="list-unstyled">
			<li>Crea una cuenta</li>
			<li>Ingresa a tu cuenta</li>
			<li>Aprende a usar Sencillo</li>
			<li>Puntos de acceso</li>
		</ul>
	</div>
	<div class="col-xs-3">
		<h4>Comercios</h4>
		<ul class="list-unstyled">
			<li>Sencillo en tu negocio</li>
			<li>Regístrate como comercio</li>
			<li>Conviértete en agente</li>
		</ul>
	</div>
	<div class="col-xs-3">
		<h4>Desarrolladores</h4>
		<ul class="list-unstyled">
			<li>Sencillo en tu sitio web</li>
			<li>Sencillo en tu aplicación</li>
			<li>APIs</li>
			<li>Recursos para desarrolladores</li>
		</ul>
	</div>
	<div class="col-xs-3">
		<h4>Sobre Sencillo</h4>
		<ul class="list-unstyled">
			<li>¿Qué es Sencillo?</li>
			<li>¿Cómo funciona?</li>
			<li>Nuestro Equipo</li>
			<li>Nuestros Aliados</li>
		</ul>
	</div>
</div>
{% endblock %}
